<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
    <div
      class="[&>p]:mb-4 [&>p>strong]:text-sky-500 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
    >
      <p>
        Me llamo Nelson Navarro. Empecé en la programación con un Taller de programación en 2018 de los jovenes programadores de la biblioredes. 
        Actualmente estoy Titulado en <strong
          >Analista Programador Computacional</strong
        > y terminando el <strong> Ingeniero informatica</strong>
      </p>
  
      <p>
        Algunos de mis éxitos incluyen <strong
          >Desarrollar un programa para la municipalidad</strong
        >. Una que actualmente en la municipalidad de melipilla se esta utilzando.
      </p>
  
      <p>
        Tambien estudio sobre la, <strong>Seguridad informatica</strong> 
        la cual he participado en <strong>Capture The Flag</strong> 
        del DuocUC, TryHackMe y HackTheBox, 
        como tambien leyendo libros como el "Hackear al hacker"
       .</p>
    </div>
    <img src="/me.jpg" class="rounded-full size-64 order-1 md:order-2" />
  </section>
