---
interface Props {
images: Array<string>;
}

const { images } = Astro.props as Props;
---

<div class="carousel relative shadow-2xl rounded shadow-2xl shadow-white/10 aspect-video">
  <div class="carousel-inner relative overflow-hidden w-full">
    {images.map((_, index: number) => (
      <Fragment key={index}>
        <input
          class="carousel-open"
          type="radio"
          id={`carousel-${index + 1}`}
          name="carousel"
          aria-hidden="true"
          hidden
          checked={index === 0}
        />
        <div class="carousel-item absolute opacity-0">
          <div class="block h-full w-full text-white text-5xl text-center">
            <img src={_} alt={`Slide ${index + 1}`} />
          </div>
        </div>
        <label
          for={`carousel-${index === 0 ? images.length : index}`}
          class={`prev control-${index + 1} w-10 h-10 ml-2 md:ml-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 left-0 my-auto`}
        >
          ‹
        </label>
        <label
          for={`carousel-${index + 2 > images.length ? 1 : index + 2}`}
          class={`next control-${index + 1} w-10 h-10 mr-2 md:mr-10 absolute cursor-pointer hidden text-3xl font-bold text-black hover:text-white rounded-full bg-white hover:bg-blue-700 leading-tight text-center z-10 inset-y-0 right-0 my-auto`}
        >
          ›
        </label>
      </Fragment>
    ))}

    <ol class="carousel-indicators">
      {images.map((_, index: number) => (
        <li class="inline-block mr-3" data-key={index}>
          <label
            for={`carousel-${index + 1}`}
            class="carousel-bullet cursor-pointer block text-4xl text-white hover:text-blue-700"
          >
            •
          </label>
        </li>
      ))}
    </ol>
  </div>
</div>

<style>

.carousel-open:checked + .carousel-item {
	position: static;
	opacity: 100;
}
.carousel-item {
	-webkit-transition: opacity 0.6s ease-out;
	transition: opacity 0.6s ease-out;
}
#carousel-1:checked ~ .control-1,
#carousel-2:checked ~ .control-2,
#carousel-3:checked ~ .control-3,
#carousel-4:checked ~ .control-4,
#carousel-5:checked ~ .control-5,
#carousel-6:checked ~ .control-6,
#carousel-7:checked ~ .control-7,
#carousel-8:checked ~ .control-8,
#carousel-9:checked ~ .control-9,
#carousel-10:checked ~ .control-10 {
	display: block;
}
.carousel-indicators {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: 2%;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}
#carousel-1:checked ~ .control-1 ~ .carousel-indicators li:nth-child(1) .carousel-bullet,
#carousel-2:checked ~ .control-2 ~ .carousel-indicators li:nth-child(2) .carousel-bullet,
#carousel-3:checked ~ .control-3 ~ .carousel-indicators li:nth-child(3) .carousel-bullet,
#carousel-4:checked ~ .control-4 ~ .carousel-indicators li:nth-child(4) .carousel-bullet,
#carousel-5:checked ~ .control-5 ~ .carousel-indicators li:nth-child(5) .carousel-bullet,
#carousel-6:checked ~ .control-6 ~ .carousel-indicators li:nth-child(6) .carousel-bullet,
#carousel-7:checked ~ .control-7 ~ .carousel-indicators li:nth-child(7) .carousel-bullet,
#carousel-8:checked ~ .control-8 ~ .carousel-indicators li:nth-child(8) .carousel-bullet,
#carousel-9:checked ~ .control-9 ~ .carousel-indicators li:nth-child(9) .carousel-bullet,
#carousel-10:checked ~ .control-10 ~ .carousel-indicators li:nth-child(10) .carousel-bullet {
	color: #2b6cb0; 
}

</style>
