---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCIE = [
  // {
  //   date: "junio",
  //   title: "Mantenimiento de marcha blanca - TPAP",
  //   description:
  //     "El proyecto TPAP (Toeic Practice Advantage Program). para el casptom y para el area de ingles se desarrollo una pagina donde estudiar ingles, la cual despues de su desarrollo le estamos dando mantenimiento, para que este en funcionamiento.",
  //   // link: "https://twitch.tv/midudev",
  // },
  {
  date: "Enero 2022 - Marzo 2022",
    title: "Práctica Profesional - Municipalidad de Melipilla",
    description:
    "Colaboré con el departamento de informática en el inventario de equipos, agilizando el proceso mediante el desarrollo de las herramientas 'DatosPC' y 'FlashTxt'. También participé en la implementación y configuración del servidor para el servicio web OsTicket, como parte de mi práctica como Analista Programador Computacional."
  },
  {
    date: "Mayo 2024 - Julio 2024",
    title: "Práctica Profesional - Municipalidad de Melipilla",
    description:
    "Contribuí al desarrollo de la página web de Emergencia Melipilla como desarrollador, implementando nuevos módulos, mejorando la seguridad del sistema y colaborando en la aplicación de estándares del proyecto. Además, participé en la integración de herramientas de desarrollo como Docker y sistemas de documentación como MkDocs."
  },
  {
    date: "Julio 2024 - Diciembre 2024",
    title: "Desarrollador - Municipalidad de Melipilla",
    description:
    "Trabajo como desarrollador backend y apoyo en seguridad para el área de desarrollo, participando en la implementación de nuevas tecnologías y herramientas para las distintas unidades de la Municipalidad de Melipilla. También realizo mantenimiento del código y busco activamente vulnerabilidades para garantizar la seguridad de los sistemas."
  }
]
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
